<!doctype html>
<html ng-app="app">

<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <script src="Content/scripts/angularjs/angular.min.js"></script>
    <script src="Content/scripts/angularjs/angular-touch.min.js"></script>
    <script src="Content/scripts/angularjs/angular-animate.min.js"></script>
    <script src="Content/scripts/csv.js"></script>
    <script src="Content/scripts/pdfmake.js"></script>
    <script src="Content/scripts/vfs_fonts.js"></script>
    <script src="Content/scripts/jquery-2.2.0.min.js"></script>
    <script src="Content/scripts/ui-grid.js"></script>
    <script src="Content/scripts/bootstrap.js"></script>
    <script src="Content/scripts/bootstrap-dialog.min.js"></script>
    <script src="app.js"></script>
    <script src="tokenService.js"></script>
    <script src="mainCtrl.js"></script>
    <script src="loginCtrl.js"></script>
    <link rel="stylesheet" type="text/css" href="Content/css/main.css">
    <link rel="stylesheet" type="text/css" href="Content/css/ui-grid.css">
    <link rel="stylesheet" type="text/css" href="Content/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="Content/css/bootstrap-dialog.min.css">
</head>

<body>
    <!--<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapse" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mayordomo</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Create New...</a></li>
                            <li><a href="#">Edit</a></li>
                            <li><a href="#">Delete</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Refresh</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-show="hasUserLoggedIn != true" data-toggle="modal" data-target="#login-modal">Login</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->

    <div ng-controller="LoginCtrl">
        <div class="container container-fluid navbar navbar-default">
            <div class="pull-left">
                <a class="navbar-brand" href="../">Products</a>&nbsp;&nbsp;
            </div>
            <div class="pull-right">
                <button ng-show="hasUserLoggedIn != true" class="btn btn-primary" data-toggle="modal" data-target="#login-modal"><span class="glyphicon glyphicon-log-in"></span> Login</button>
                <button ng-show="hasUserLoggedIn" ng-click="logOut()" class="btn btn-primary"><span class="glyphicon glyphicon-log-out"></span> Log Out</button>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="row">
                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container">
                            <h1>Login to Your Account</h1><br>
                            <form ng-submit="logIn()" id="loginForm" name="loginForm">
                                <input type="text" name="user" placeholder="Username" ng-model="loginData.username">
                                <input type="password" name="pass" placeholder="Password" ng-model="loginData.password">
                                <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                            </form>

                            <div class="login-help">
                                <a href="#">Register</a> - <a href="#">Forgot Password</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-controller="MainCtrl" class="container">
        <div class="col-xs-12">
            <div class="row">
                <button ng-click="showForm()" class="btn btn-primary"><span class="glyphicon glyphicon-plus-sign"></span> New Product</button>
                <button id="refreshButton" type="button" class="btn btn-success" ng-click="refreshData()"><span class="glyphicon glyphicon-repeat"></span>Refresh Data</button>
                <button id="deleteButton" type="button" class="btn btn-danger" ng-click="deleteSelected()"><span class="glyphicon glyphicon-remove"></span>Delete Selected</button>
                <form ng-show="willShowForm" ng-submit="addProduct()" name="productForm" id="productForm">

                    <div class="panel panel-primary">
                        <!-- <div class="panel-heading"><h3 class="panel-title">New Product</h3></div> -->
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="PartNumber">Part Number</label>
                                <input type="text" class="form-control" id="PartNumber" placeholder="Part Number" ng-model="partNumber" autocomplete="off"
                                required />
                                <span class="text-danger small" ng-show="partNumber==='' || !partNumber">Part Number is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="PartDescription">Part Description</label>
                                <input type="text" class="form-control" id="PartDescription" placeholder="Part Description" ng-model="partDescription" autocomplete="off"
                                required />
                                <span class="text-danger small" ng-show="partDescription==='' || !partDescription">Part Description is required.</span>
                            </div>
                            <div class="form-group">
                                <label for="Category">Category</label>
                                <input type="text" class="form-control" id="Category" placeholder="Category" ng-model="category" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <label for="Price">Price</label>
                                <input type="number" class="form-control" id="Price" placeholder="Price" ng-model="price" autocomplete="off" />
                                <span class="text-danger small" ng-show="price < 0">Price cannot be negative.</span>
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
            <br>
            <div class="row">
                <!-- <strong>Calls Pending:</strong> <span ng-bind="callsPending"></span>
        <br>
        <br>
        <strong>{{ myData.length }} rows</strong> -->
                <br>
                <br>
                <div id="grid1" ui-grid="gridOptions" ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-pinning ui-grid-selection
                ui-grid-move-columns ui-grid-importer ui-grid-exporter ui-grid-pagination class="grid table"></div>
            </div>
        </div>
    </div>
    <footer class="container">
        <p>&copy; 2016 - RBML</p>
    </footer>
</body>

</html>